```
# Database
gigeon_messenger/instance/gigeon.db

# Logs
gigeon_messenger/server.log

# Dependencies
gigeon_messenger/venv/
gigeon_messenger/.venv/
gigeon_messenger/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
gigeon_messenger/.env
gigeon_messenger/.env.*
```